@import url('https://fonts.googleapis.com/css?family=Inter:400|Open+Sans:400,300');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  background-color: #000000;
  background-image: url('./bg_img/bg_img.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 605px;
  max-width: 1920px;
  z-index: 1;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.header-nav {
  position: fixed;
  width: 100%;
  max-width: 1920px;
  background-color: #F7F7F7;
  height: 100px;
  display: flex;
  align-items: center;
  gap: 10%;
  z-index: 2;
}

.logo {
  width: 10%;
  text-align: right;
}

.logo a {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: #000000;
}

.navbar {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  font-family: Open Sans;
  font-style: light;
  font-size: 20px;
  text-decoration: none;
  color: #D5D5D5;
}

.navbar a:focus {
  color: #000000;
  transition: 0.3s;
}

.stadium-section {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.stadium-app {
  width: 75%;
  margin-top: 15px;
  margin-left: 15%;
}

.stadium-app h1 {
  font-family: Inter;
  font-weight: 400;
  font-size: 52px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 20%;
}

.stadium-app img {
  margin-top: 3%;
  margin-left: 30%;
}

.text {
  width: 100%;
}

.text p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 36px;
  color: #FFFFFF;
  margin-top: 5%;
  margin-left: 20%;
}

.stadium-section .btn {
  width: 60%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.btn-download {
  background-color: #178A1F;
  color: #fff;
  padding: 16px 30px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  margin-right: 5%;
}

.btn-contact {
  background: none;
  padding: 16px 30px;
  font-size: 18px;
  color: #d2c7c7;
  border: 1px solid #178A1F;
  cursor: pointer;
}

.section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
}

.about {
  margin-top: 50px;
}

.about h2 {
  font-family: Open Sans;
  font-size: 42px;
  color: #000000;
}

.about img {
  margin-top: 20px;
  margin-left: 90px;
}

.testimonials {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: space-evenly;
}

.test-child-1 img,p {
  margin-top: 40px;
}

.test-child-1 p {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}


.start-tracking {
  background-color: #262626;
  width: 100%;
  max-width: 1920px;
  height: 147px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-tracking div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.title-start-tracking {
  font-family: Open Sans;
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
}

.btn-start-tracking {
  padding: 15px 90px;
  background-color: #178A1F;
  color: #F7F7F7;
  border: none;
  cursor: pointer;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 300px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer-nav a {
  font-family: Inter;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
}

.digital-platform {
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
}

.digital-platform p {
  font-family: Inter;
  font-size: 23px;
  color: #000000;
  margin-left: 146px;
}

.footer-icons {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.footer-icons i {
  cursor: pointer;
}

@media (max-width: 1280px) {
  .header-nav {
    justify-content: space-evenly;
  }

  .logo {
    width: 17%;
  }

  .navbar {
    width: 50%;
    align-items: center;
    justify-content: space-around;
  }

  .stadium-section {
    width: 100%;
    top: 30%;
    right: 6%;
  }

  .stadium-app h1 {
    text-align: center;
    font-size: 25px;
  }

  .text p {
    font-size: 24px;
  }

  .btn-contact {
    display: none;
  }

  .stadium-section .btn {
    width: 28%;
  }
  
  .about h2 {
    font-size: 32px;
  }

  .about img {
    margin-left: 55px;
  }

  .test-child-1 p {
    margin-bottom: 30px;
  }

  .footer {
    flex-direction: row;
    min-height: 600px;
    justify-content: space-around;
    align-items: baseline;
  }

  .footer-nav {
    gap: 30px;
  }

  .digital-platform p {
    font-size: 20px;
    margin-left: 0;
  }
}